/*main*/
body{
    background: url(../images/bg_body.jpg);
    font-size: 11px;
    font-family: Verdana, sans-serif;
}
h1{
    font-size: 22px;
    color: #c9b18c;
    font-family: 'Georgia','Times New Roman', serif;
    margin-bottom: 20px;
}
h2{
    font-size: 18px;
    color: #ded27a;
    font-family: 'Georgia','Times New Roman', sans-serif;
    margin-bottom: 1em;
}
p{
    font-size: 11px;
    color: #c0b4aa; 
    line-height: 1.5em;
}
.wrapper{
    width: 1000px;
    margin: auto;
    position: relative;
}
/*lang-list*/
.lang-list {
    font-size: 11px;
    position: a;
    top: 0;
    left: 0;
    margin: 40px 0 0 20px;
}
.lang-list > .lang-item {
     display: inline-block;
     vertical-align: top;
     border-left: 1px solid #ffffff;
     white-space: nowrap;
     padding: 0 10px 0;
 }
 
 .lang-list > .lang-item:first-child {
     color: #c9b18c;
     border-left: none;
 }
 
 .lang-list > .lang-item:nth-child(2) a {
     color: #ffffff;
 }
 .lang-list > .lang-item:nth-child(3) a{
     text-decoration: none;
 }

 .lang-list > .lang-item:last-child a {
     border-right: none;
     color: #ffffff;
     border-left: none;
 }
 /*logo*/
.logo img {
    position: absolute;
    width: 225px;
    height: auto;
    margin-top: 25px;
}
/*auht*/
.auth {
    position: absolute;
    top: 0px;
    right: 21px;
    font-family: Verdana, sans-serif;
    font-size: 11px;
}

.auth > .auth-link a {
    padding-right: 10px;
    padding-left: 10px;
    color: #ffffff;
}

.auth .signin a {
    border-right: 1px solid white;
    color: #e8d1a4;
}
/*mainmenu*/
.header{
    position: relative;
}
.header .mainmenu {
    position: absolute;
    right: 100px;
    top: 80px;
    width: auto;
    margin-right: -95px;
}

.header .menu-list{
    border-radius: 5px;
    border: 1px solid white;
    background-color: #f6f5f4;
    font-size: 14px;
  }

.header .menu-item{
    border-radius: 5px;
    display: inline-block;
}

.header .menu-item a{
    text-decoration: none;
    color: #461500;
    padding: 12px 29px;
    line-height: 36px;
}

.header .mainmenu li:active{
    background-image: url(../images/bg_menu-item-active.png);
    background-size: 150px 39px;
}

/*content*/
.content .promo {
    box-sizing: border-box;
    background-image: url(../images/bg_about.png), url(../images/bg_promo.png);
    background-repeat: no-repeat, repeat;
    background-position: 55px 50%;
    border-radius: 9px;
    height: 156px;
    width: 100%;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
    font-size: 14px;
    color: #f9da5a;
    line-height: 22px;
    padding-top: 24px;
    padding-left: 146px;
    padding-right: 45px;
    margin-top: 150px;
}    
.content .article {
    position: relative;
    margin-top: 3em;
    padding-left: 145px;
}
.article img{
    display: block;
    width: 90px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 20px;
    transform:translateY(-50%);
}
/*footer*/

.footer {
    box-sizing: border-box;
    width: 1000px;
    height: 70px;
    position: relative;
    border-top: 1px solid #a28243;
    margin: auto;
}

.footer .copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: #f9da5a;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 43px;
    margin-bottom: 22px;
}

.footermenu {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    right: 0;
    bottom: 0;
    margin-top: 43px;
    margin-bottom: 22px;
}
.footermenu > .menu-list > .menu-item {
    display: inline-block;
    border-left: 1px solid #e7e3e1;

}
.footermenu > .menu-list > .menu-item:first-child {
    border-left: none;
}


.footermenu .menu-list a {
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}